 @import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Variables, mixins, etc.. */

 @mixin background-tile {
 	box-sizing: border-box;
 	background-color: #fff;
 	border-radius: 5px;
 	box-shadow: 3px 3px 5px 6px #ccc;
 	padding: 1.5em 1.25em;
 }


 /* General styles */

 body {
 	background-color: #f5f5f5;
 	font-family: 'Lora', serif;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: 'Ubuntu', sans-serif;
 	font-weight: 300;
 }

 p.alert, p.notice {
 	margin: 0;
 }


 /* Navbar/navigation styles */

 .navbar {
 	font-family: 'Ubuntu', sans-serif;
 	text-transform: uppercase;
 }
 .navbar-default {
 	background-color: #fff;
 	padding-bottom: 5px;
 	padding-top: 5px;

 	.navbar-nav > li > a {
 		color: #222;
 		&:hover {
 			color: darken(#f1c40f, 5%);
 			transition: 0.5s;
 		}
 	}

 	.navbar-header {

 		.navbar-brand {
 			color: #222;
 			letter-spacing: 1.4px;
 		}

 	}

 	.dropdown-menu > li > a:hover {
 		background-color: darken(#f1c40f, 5%);
 		color: #fff;
 	}

 	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
 		background-color: darken(#f1c40f, 5%);
 		color: #fff;
 	}

 }

 .dropdown-menu > .active > a {
 	background-color: #f1c40f;
 	color: #fff;
 }


 /* Button/link styles */

 .btn-custom {
 	color: darken(#f1c40f, 5%);
 	background-color: #fff;
 	border: 1px solid darken(#f1c40f, 5%);
 	padding: 8px 20px;
 	border-radius: 5px;
 	font-family: 'Ubuntu', sans-serif;
 	&:hover {
 		text-decoration: none;
 		background-color: darken(#f1c40f, 5%);
 		color: #fff;
 		transition: 0.5s;
 	}
 }

 .btn-custom2 {
 	color: #333;
 	background-color: #fff;
 	border: 1px solid #222;
 	padding: 8px 20px;
 	border-radius: 5px;
 	font-family: 'Ubuntu', sans-serif;
 	&:hover {
 		text-decoration: none;
 		background-color: #333;
 		color: #fff;
 		transition: 0.5s;
 	}
 }

 .links {

 	.btn-custom {
 		padding: 3px 10px;
 		font-weight: 300;
 	}

 }

 .album-links {

 	.btn-custom {
 		padding: 3px 10px;
 		font-weight: 300;
 		margin-top: 40px;
 	}

 }

 /* album styles */

 .album {
 	height: 260px;
 	width: 250px;
 	margin-bottom: 40px;
 	@include background-tile;
 }

 .album-show {
 	height: 260;/*adjusted for album sizes for app*/
 	width: 250;
 	@include background-tile;
 }

 .album-info {
 	@include background-tile;

 	.album-title {
 		margin-top: 0;
 		font-size: 2em;
 	}

 	.avg-rating {
 		font-size: 1.5em;
 		margin-top: 15px;
 		margin-bottom: 5px;
 	}

 	.number-of-reviews {
 		font-size: 0.85em;
 		font-style: italic;
 	}

 	.album-author {
 		font-size: 1.5em;
 		margin-top: 10px;
 		margin-bottom: 10px;
 		span {
 			font-size: 0.80em;
 		}
 	}

 	.album-desc {
 		font-size: 1.05em;
 		line-height: 1.5;
 		margin-bottom: 15px;
 		margin-top: 15px;
 	}

 }


 /* current-category styles */

 .current-category {
 	margin-bottom: 40px;
 }


 /* Reviews styles */

 .reviews {

 	@include background-tile;
 	margin-top: 40px;

 	h1 {
 		margin-top: 0;
 		margin-bottom: 15px;
 		font-size: 2em;
 	}

 	.review {
 		border-bottom: 1px solid gainsboro;
 		margin-bottom: 15px;
 		padding-bottom: 10px;

 		.review-comment {
 			font-size: 1.05em;
 			line-height: 1.5;
 		}

 	}

 	.new-review {
 		padding-top: 8px;
 	}

 }

 /* New album Form styles */

 .new-album-form {
 	@include background-tile;

 	h1 {
 		margin-top: 0;
 	}

 	#category_id {
 		margin-bottom: 10px;
 	}

 	#album_album_img {
 		margin-bottom: 10px;
 	}

 }


 /* Edit album Form styles */

 .edit-album-form {

 	@include background-tile;

 	h1 {
 		margin-top: 0;
 	}

 	#album_category_id {
 		margin-bottom: 10px;
 	}

 	#album_album_img {
 		margin-bottom: 10px;
 	}

 }

 /* New/Edit review form styles */

 .new-review-form, .edit-review-form {
 	@include background-tile;

 	h1 {
 		margin-top: 0;
 	}

 	#rating-form {
 		margin-bottom: 15px;

 		label {
 			display: block;
 		}

 	}

 }


 /* Signup/Login form styles */

 .signup-form {
 	@include background-tile;

 	h2 {
 		margin-top: 0;
 	}

 }

 .login-form {
 	@include background-tile;

 	h2 {
 		margin-top: 0;
 	}

 }
