<%= simple_form_for([@album, @album.reviews.build]) do |f| %>
  <div id="rating-form">
<label>Rating</label>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit, :class"btn-custom2" %>
<% end %>

<script>
$('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>
