<h1><div class="review-rating" data-score="<%= review.rating %>"</div></h1>
<p><%= review.comment %></p>

<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>
    <br>
    <%= link_to "Edit", edit_album_review_path(review.album, review) %>
    <%= link_to "Delete", album_review_path(review.album, review), method: :delete, data:{confim: "Are you sure?"} %>

  <% end %>

<% end %>
