<p><%= review.rating %></p>
<p><%= review.comment %></p>

<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>

    <%= link_to "Edit", edit_album_review_path(review.album, review) %>
    <%= link_to "Delete", album_review_path(review.album, review), method: :delete, data:{confim: "Are you sure?"} %>

  <% end %>

<% end %>
