<h2 class="current-category"><%= params[:category] %></h2>

<% if @albums.count == 0 %>
<h3> There are no books currently in this category </h3>
<% else %>
  <% @albums.each do |album| %>
    <h4> <%= link_to album.title, album_path(album) %> </h4>
  <% end %>
<% end %>
