<h2 class="current-category"><%= params[:category] %></h2>

<% if @albums.count == 0 %>
<h3> There are no books currently in this category </h3>
<% else %>
<div class="row">
  <% @albums.each do |album| %>
  <div c;ass="col-md-3">
  <a href="/albums/<%= album.id %>">
    <%= image_tag album.album_img.url(:album_index) %>
  </a>
  </div>
  <% end %>
</div>
<% end %>
